* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
}

@-webkit-keyframes animation0 {
  0% {
    position: fixed;
  }
  99% {
    position: fixed;
  }
  100% {
    position: relative;
  }
}

@keyframes animation0 {
  0% {
    position: fixed;
  }
  99% {
    position: fixed;
  }
  100% {
    position: relative;
  }
}

@-webkit-keyframes animation1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: -100px;
  }
}

@keyframes animation1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: -100px;
  }
}

@-webkit-keyframes animation2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
  }
  20% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
  }
  35% {
    -webkit-transform: translate(-50%, 0%) scale(1);
            transform: translate(-50%, 0%) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
    opacity: 0;
  }
}

@keyframes animation2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
  }
  20% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
  }
  35% {
    -webkit-transform: translate(-50%, 0%) scale(1);
            transform: translate(-50%, 0%) scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0%) scale(0);
            transform: translate(-50%, 0%) scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes animation3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes animation3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.mainBanner {
  position: fixed;
  top: 0px;
}

.mainBanner .text-center {
  text-align: center;
}

.mainBanner .mainBanner-container {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.mainBanner .mainBanner-container .img-bg {
  height: 100vh;
  width: 100vw;
  opacity: 0.7;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainBanner .mainBanner-container .mainBanner--content-title {
  color: #fff;
  font-size: 56px;
}

.mainBanner .mainBanner-container .mainBanner--content-para {
  color: #fff;
  font-size: 24px;
}

.mainBanner .mainBanner-container.normal-mode .mainBanner--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mainBanner .mainBanner-container.animation-mode .mainBanner--wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mainBanner .mainBanner-container.animation-mode p {
  font-size: 1rem;
}

.mainBanner .mainBanner-container.animation-mode .mainBanner--content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.mainBanner .mainBanner-container.animation-mode .mainBanner--content .slide-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.mainBanner .mainBanner-container.animation-mode .mainBanner--content .slide1 {
  -webkit-animation: animation1 1s linear infinite;
          animation: animation1 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
}

.mainBanner .mainBanner-container.animation-mode .mainBanner--content .slide2 {
  -webkit-animation: animation2 1s linear infinite;
          animation: animation2 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
}

.mainBanner .mainBanner-container.animation-mode .mainBanner--content .slide3 {
  -webkit-animation: animation3 1s linear infinite;
          animation: animation3 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
}

.demo-section {
  height: 100vh;
}

.section2 {
  height: 100vh;
  background-color: #000;
}

.section2 .animation-content {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 49px;
  top: 58px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 0.88;
  width: 422px;
  height: 386px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: scale(1.19345, 1.19345);
          transform: scale(1.19345, 1.19345);
}
/*# sourceMappingURL=style1.css.map */